<% include ../header.ejs %>

<h2>Users</h2>
<table id="usertable">
	<thead>
		<tr>
			<th>Username</th>
			<th>Displayname</th>
			<th>Character names</th>
			<% if (canroles) { %>
				<th>Roles</th>
			<% } %>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% users.forEach(function(u) { %>
		<tr>
			<td><%=u.username%></td>
			<td><%=u.displayname%></td>
			<td>
				<% 
					if (u.characternames) {
						u.characternames.forEach(function(character) {
				%>
				<div class="charactername"><%=character%></div>
				<% }); %>
				<% } %> 
			</td>
			<% if (canroles) { %>
				<td>
					<% if (u.roles) { u.roles.forEach(function(role){ %>
						<div><%=role%></div>
					<% })} %>
				</td>
			<% } %>
			<td>
				<%if (canedit) { %> <div class="edituser"><a href="/admin/users/<%=u.username%>">Edit</div><% } %>
				<%if (candelete) { %> <div class="deleteuser"><a href="/admin/users/<%=u.username%>?delete=yes">Delete</div><% } %>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>

<% include ../footer.ejs %>