#menu
  ul
    - var path = lookuppath
    - for (var i = 0; i < mainpages.length; i++) {
      li
        a(href=mainpages[i].path, class=((!current && i == 0) || current == mainpages[i].name) ? "active" : undefined) #{mainpages[i].displayname}
    - }
  #clear

#messagebox Hei på deg!

#logo
  #logoimage
    a(href=path('home'))
      img(src="/images/bold.png", width="128", height="128", alt="Brave Operations - Lollipop Division")
  h1
    a(href=path('home')) Brave Operations - Lollipop Division
  a(href=path('home'))
    small Big things come in small packages
