<% include header.ejs %>
<h2>User information</h2>
<% if (message) { %>
	<div class="message"><%=message%></div>
<% } %>
	<form method="POST">
		<div>
			<label>Username:</label>
			<input type="text" class="username" name="username" value="<%=user.username%>" readonly></input>
		</div>
		<div>
			<label>Displayname:</label><input type="text" name="displayname" value="<%=user.displayname%>"></input>
		</div>
		<div>
			<label>E-mail:</label><input type="text" name="email" value="<%=user.email%>"></input>
		</div>
		<div>
			<label>API Key:</label><input type="text" name="api" value="<%=user.api%>"></input>
		</div>
		<div>
			<label>API Verification:</label><input type="text" name="apiVer" value="<%=user.apiVer%>"></input>
		</div>
		<div>
			<input type="submit" value="Submit">
		</div>
	</form>
<% include footer.ejs %>